/* USER Register */
.register {
  height: 100vh;
  background: #eeeeee;
  padding: 1em;
}

/* Message Panel */

/* MessageForm.js */
.message__form {
  position: fixed !important;
  bottom: 1em;
  margin: 1ef;
  margin-left: 320px !important;
  left: 0;
  right: 1em;
  z-index: 200;
}
/* Messages.js */
.messages {
  height: 62vh;
  overflow-y: scroll;
}
.messages__progress{
  height: 58vh;
  overflow-y:scroll
}

/* Message.js */
.self__message{
  border-left: 2px solid orangered;
  padding-left: 8px;
}
.message__image{
  padding: 1em;
}

/* ProgressBar */

.progress__bar{
  margin: 0.3em 0 0 0 !important;
}

/* Channel.js DirectMessages.js */
.menu{
  padding-bottom: 2em;
}